{% extends "base.html" %}
{% block content %}

<div class="home-container">
  <h1>Welcome To ASL Explorer!</h1>
  <p>
    Learn the American Sign Language (ASL) alphabet and everyday expressions 
    through visual lessons and interactive quizzes.
  </p>

  <div class="home-cards">
  
  
    <!-- Secondary action card -->
    <a href="{{ url_for('quiz') }}" class="card secondary-card">
      <h2>Take a Quiz</h2>
      <p>Test what you’ve learned with quick, fun quizzes.</p>
    </a>

      <!-- Primary CTA card -->
      <a href="{{ url_for('lessons') }}" class="card cta-card">
        <h2>Start Learning</h2>
        <p>Dive into the ASL lessons and master the alphabet & expressions.</p>
      </a>
  </div>
  
</div>

{% endblock %}
